<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rick & Morty</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<article th:each="character : ${characters}" th:object="${character}">
    <div>
        <img th:src="*{image}" th:alt="*{name}"
             alt="image"
             src="https://rickandmortyapi.com/api/character/avatar/249.jpeg">
    </div>
    <div>
        <div class="section">
            <a th:href="*{url}" target="_blank">
                <h2 th:text="*{name}">Name</h2>
            </a>
            <span class="status">
                    <span th:class="|status_icon_*{status.toLowerCase()}|"></span> <span
                    th:text="|*{status} - *{species}|"></span>
                </span>
        </div>
        <div class="section">
            <span class="text-gray">Last known location:</span>
            <a th:href="*{location.url}" th:text="*{location.name}" target="_blank"></a>
        </div>
        <div class="section">
            <span class="text-gray">First seen in:</span>
            <a th:href="*{firstEpisode.url}" th:text="*{firstEpisode.name}" target="_blank"></a>
        </div>
    </div>
</article>
</body>
</html>